@charset "UTF-8";
.answer-list div.answer-list-item, .answer-list li.answer-list-item {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    position: relative;
    padding-top: 15px
}

.answer-content {
    width: 100%;
    float: right
}

.answer-content .click-correction, .answer-content .click-del, .answer-content .click-edit {
    display: none;
    _display: block
}

.answer-content:hover .click-correction, .answer-content:hover .click-del, .answer-content:hover .click-edit {
    display: block
}

.answer-list .answer-list-item:last-child {
    border: none
}

.answer-head-wrap {
    text-align: center;
    float: left;
    width: 60px;
    margin-right: 10px
}

.answer-head-wrap .answer-head {
    float: none;
    margin: 0 auto
}

.answer-head {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ededed;
    overflow: hidden;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.answer-head img {
    width: 100%;
    display: block
}

.answer-tag {
    display: block;
    padding: 2px 0;
    background: #ebebeb;
    margin-top: 10px
}

.answer-detail {
    margin-left: 65px;
    line-height: 1em
}

.answer-detail .answer-name {
    color: #999;
    margin-bottom: 5px;
    display: inline-block;
    *zoom: 1;
    *display: inline
}

.answer-detail .answer-name:hover {
    color: #25bb9b
}

.answer-brief {
    font-size: 14px;
    line-height: 1.8
}

.answer-brief a {
    color: #25bb9b
}

.answer-brief a:hover {
    color: #333
}

.answer-brief img {
    max-width: 480px;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    cursor: url(//static.zhihu.com/static/img/zoom-in.cur)
}

.answer-brief blockquote {
    padding-left: 10px;
    margin: .8em 0
}

.answer-brief ol, .answer-brief ul {
    padding-left: 20px
}

.answer-brief ul li {
    list-style-type: disc
}

.answer-brief ol li {
    list-style-type: decimal
}

.answer-brief em {
    font-weight: inherit;
    font-style: italic
}

.answer-legend {
    margin-top: 10px;
    color: #999;
    font-size: 12px;
    line-height: 20px
}

.answer-legend a {
    float: right;
    color: #21a88b;
    margin-left: 20px
}

.answer-legend a:hover {
    color: #25bb9b
}

.more-answer {
    display: block;
    padding: 10px 0;
    border: 1px solid #ebebeb;
    border-width: 1px 0;
    font-size: 14px;
    border-top: none
}

.post-floor, .post-floor-green {
    padding: 1px 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    background: #dcdadc;
    float: right
}

.post-floor-green {
    background: #0fc0a1
}

.reply-box {
    padding: 15px;
    margin: 15px 0 0;
    background: #eff0f2
}

.reply-list {
    margin: 0
}

.reply-list .reply-list-item, .reply-list li {
    line-height: 1.5
}

.reply-list .reply-list-item + .reply-list-item, .reply-list li + li {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    margin-top: 10px
}

.reply-list .reply-list-item .reply-del, .reply-list li .reply-del {
    display: none
}

.reply-list .reply-list-item:hover .reply-del, .reply-list li:hover .reply-del {
    display: block
}

.reply-main {
    margin-bottom: 10px
}

.reply-person {
    margin-right: 15px;
    display: inline;
    white-space: nowrap
}

.reply-person a {
    color: #999;
    max-width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle
}

.reply-person a:hover {
    color: #25bb9b
}

.reply-content {
    color: #666;
    display: inline;
    line-height: 2;
    vertical-align: middle
}

.reply-content img {
    max-width: 100%
}

.reply-content img[data-card-emoji] {
    vertical-align: middle
}

.reply-info {
    color: #999
}

.reply-editbox {
    position: relative;
    padding-top: 15px;
    margin-bottom: 0
}

.toparrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    right: 10px;
    border-bottom-color: #dce4ec;
    border-width: 0 7px 7px;
    margin-left: -7px;
    top: 8px
}

input.reply-input, textarea.reply-input {
    width: 478px;
    outline: 0;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    padding: 5px
}

textarea.reply-input.reply-input-textarea {
    margin: 0;
    resize: none;
    overflow: hidden
}

.editor-box .txtarea-foot .btn-modify-cancel, .editor-box .txtarea-foot .btn-modify-sure {
    width: 75px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    float: right;
    margin-left: 10px
}

.reply-editbox .icon-emotion {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background: url(https://static.nowcoder.com/images/img/icons/ico-emoticon.png) no-repeat
}

.reply-editbox .icon-emotion:hover {
    background-position: -24px 0
}

.reply-editbox .reply-action {
    margin-top: 10px
}

.reply-editbox .btn.reply-btn {
    width: 75px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    float: right
}

.reply-focus .toparrow {
    border-bottom-color: #1abc9c
}

.reply-focus .reply-input {
    border-color: #1abc9c
}

.more-reply {
    text-align: center;
    margin-top: 30px
}

.more-reply a {
    color: #25bb9b
}

.nk-content .content-item-box {
    margin-left: -9px
}

.nk-content .content-item-box li {
    margin-right: 15px;
    margin-bottom: 15px
}

.content-item-box {
    margin-right: -20px
}

.content-item-box li {
    width: 210px;
    float: left;
    margin-right: 19px
}

.content-item-brief {
    display: block;
    width: 185px;
    height: 230px;
    padding: 15px;
    margin: 0 0 15px;
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background: #fff
}

.content-item-brief h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    height: 100px;
    width: 185px;
    overflow: hidden;
    line-height: 1.4;
    font-weight: 400
}

.content-item-box li:hover .content-item-brief {
    border-color: #b9b9b9;
    cursor: pointer
}

.item-waiting {
    width: 107px;
    height: 107px;
    margin: 25px auto 40px;
    background: url(//static.nowcoder.com/images/waiting.png) no-repeat
}

.waiting-word {
    font-size: 14px;
    text-align: center
}

.exam-foot {
    font-size: 14px;
    color: #666;
    text-align: center;
    position: absolute;
    top: 225px;
    left: 15px;
    width: 185px
}

.web-logoimg {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: 10px auto 0
}

.web-logoimg img {
    width: 100%
}

.web-logoimg.with-v {
    border: 1px solid #00bc9b;
    border-radius: 50%;
    position: relative
}

.content-item-box li:hover .exam-foot, .content-item-box li:hover .web-logoimg {
    display: none
}

.content-item-box li:hover .exam-info {
    display: block;
    cursor: pointer
}

.exam-info {
    display: none;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 185px
}

.exam-btn .btn {
    margin: 0 auto
}

.exam-info dd {
    margin-bottom: 5px
}

.exam-info .exam-btn {
    margin: 15px 0 0
}

.exam-time {
    background: url(//static.nowcoder.com/images/img/exam-time.png) 3px 5px no-repeat;
    border: 2px solid #454545;
    display: inline-block;
    border-radius: 20px;
    padding: 3px 15px 2px 30px;
    margin-bottom: 15px
}

.difficulty {
    width: 200px;
    margin: 0 auto
}

.item-label {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 75px;
    height: 20px;
    display: inline-block;
    vertical-align: middle
}

.topic-list {
    margin-right: -20px
}

.topic-list li {
    position: relative;
    float: left;
    width: 217px;
    height: 208px;
    margin: 0 18px 25px 0;
    border: 1px solid #eee
}

.topic-img {
    width: 217px;
    height: 144px;
    overflow: hidden;
    background: #eee;
    display: block
}

.topic-info {
    padding: 10px
}

.topic-head {
    font-size: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    word-wrap: normal
}

.tq-sum {
    float: left;
    background: url(//static.nowcoder.com/images/img/icons/icon-topic.png) 0 2px no-repeat;
    padding-left: 20px
}

.tq-join {
    float: right
}

.topic-info .btn {
    display: none;
    position: absolute;
    right: 8px;
    bottom: 8px;
    padding: 5px 0 6px
}

.topic-done-tag {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-width: 12px;
    border-color: #6b6b6b #6b6b6b transparent transparent;
    border-style: solid
}

.topic-list li:hover {
    border-color: #5f5f5f;
    cursor: pointer
}

.topic-list li:hover .btn {
    display: block
}

.interested-topic .module-body {
    padding: 10px
}

.interested-topic .topic-list li {
    margin: 0 5px 10px 0
}

.side-topic-box .module-body {
    padding: 20px 10px
}

.topic-slide-box {
    height: 307px;
    width: 278px;
    overflow: hidden
}

.side-topic-list li {
    margin-bottom: 15px
}

.side-topic-list li:last-child {
    margin-bottom: 0
}

.side-topic-list li img {
    height: 92px;
    width: 100%
}

.topic-slide-down, .topic-slide-up {
    height: 20px;
    margin-bottom: 15px;
    display: block;
    background: url(https://static.nowcoder.com/images/img/arrow/arrows-up-down.png) no-repeat #e8e8e8
}

.topic-slide-up {
    background-position: center 6px
}

.topic-slide-up:hover {
    background-position: center -19px;
    background-color: #00bc9b
}

.topic-slide-down {
    margin-bottom: 0;
    background-position: center -46px
}

.topic-slide-down:hover {
    background-position: center -70px;
    background-color: #00bc9b
}

.mho-page {
    color: #888;
    display: inline-block;
    vertical-align: middle
}

.mho-next, .mho-pre {
    background: url(https://static.nowcoder.com/images/img/arrow/next-pre.png) no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-left: 3px
}

.mho-pre:hover {
    background-position: -12px -12px
}

.mho-next {
    background-position: 0 -12px
}

.mho-next:hover {
    background-position: -12px 0
}

.mho-close {
    background: url(//static.nowcoder.com/images/img/icons/ico-close.png) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top
}

.mho-close:hover {
    background: url(//static.nowcoder.com/images/img/icons/icon-close.png)
}

.common-list {
    margin-bottom: 20px
}

.common-list li {
    position: relative
}

.common-list li + li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5
}

.common-list .tags-box {
    margin-top: 5px
}

.discuss-brief, .end-quot {
    font-size: 14px;
    line-height: 26px
}

.cont-brief {
    font-size: 14px;
    line-height: 1.8
}

.feed-foot {
    color: #999;
    margin-top: 5px;
    white-space: nowrap
}

.feed-foot:after, .feed-foot:before {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

.feed-legend {
    float: right
}

.feed-legend-num {
    padding-left: 5px
}

.feed-legend-pipe {
    padding: 0 5px
}

.feed-origin {
    float: left
}

.feed-origin .d-name {
    float: left;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px
}

.sub-brief {
    color: #888;
    font-size: 12px;
    line-height: 1.6;
    margin-top: 5px
}

.discuss-content {
    padding: 10px 0 0 0
}

.discuss-point {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 658px;
    float: left;
    word-wrap: normal
}

.discuss-detail {
    float: left;
    line-height: 1.5;
    width: 616px
}

.nk-content .discuss-point {
    width: 436px
}

.nk-content .discuss-detail {
    width: 93%;
}

.discuss-head {
    margin-bottom: 5px
}

.discuss-head .discuss-name {
    display: inline-block;
    color: #999
}

.discuss-head .discuss-name:hover {
    color: #25bb9b
}

.discuss-main .discuss-point-more {
    color: #25bb9b;
    float: right
}

.discuss-foot {
    margin-top: 10px
}

.origin {
    float: right;
    color: #999
}

.common-less-list .discuss-main {
    font-size: 14px;
    margin-top: 3px
}

.column-nk .module-body {
    padding: 15px 0 3px
}

.column-nk-list li {
    font-size: 16px;
    color: #888;
    padding: 10px
}

.column-nk-list li:hover {
    background: #f4f4f4
}

.column-nk-item {
    padding-left: 26px;
    margin-bottom: 5px;
    color: #666;
    font-weight: 700;
    background: url(//static.nowcoder.com/images/img/icons/icon-special2.png) no-repeat
}

.column-nk-topic {
    background-position: 0 0
}

.column-nk-talk {
    background-position: 0 -32px
}

.column-nk-code {
    background-position: 0 -64px
}

.column-nk-txt {
    font-size: 14px
}

.column-nk-time {
    float: right;
    color: #25bb9b
}

.list-module li + li {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    margin-top: 10px
}

.list-module li:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0
}

.list-title {
    margin-bottom: 5px;
    font-size: 14px
}

.list-title .sign-reward {
    margin: 0 5px 0 0
}

.list-module .list-name {
    line-height: 24px
}

.list-module .list-legend {
    color: #999;
    margin-top: 5px;
    white-space: nowrap
}

.list-legend a {
    padding: 0 5px;
    color: #999
}

.list-legend a:hover {
    color: #25bb9b
}

.comm-num {
    float: right
}

.comm-num a {
    color: #999;
    padding: 0
}

.group-list {
    margin-right: -30px;
    font-size: 0
}

.group-list li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin: 0 24px 20px 0;
    width: 70px;
    overflow: hidden
}

.group-list li .pic {
    height: 70px;
    width: 70px;
    display: block;
    background: #f4f4f4;
    overflow: hidden
}

.group-list li .pic img {
    width: 100%
}

.group-list li .txt {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    display: block
}

.group-list li .com-txt {
    margin: 10px 0 5px;
    font-size: 14px;
    height: 40px;
    display: block
}

.top-group-member li {
    text-align: center
}

.top-group-member li .pic {
    border-radius: 50%
}

.group-btn {
    display: inline-block;
    border: 1px solid #25bb9b;
    border-radius: 20px;
    padding: 1px 8px;
    color: #25bb9b
}

.member-list {
    letter-spacing: -4px
}

.member-list li {
    display: inline-block;
    letter-spacing: 0;
    margin-right: 5px;
    margin-bottom: 30px;
    width: 90px;
    vertical-align: top
}

.member-list .head-pic {
    float: none;
    margin: 0 auto 10px
}

.nk-bar .member-list {
    margin: 0 -20px -10px -5px
}

.nk-bar .member-list li {
    width: auto;
    margin-bottom: 10px;
    margin-right: 4px
}

.member-list-wrapper {
    height: 176px;
    overflow: hidden;
    margin: 0 -10px
}

.member-list-wrapper .member-list {
    margin-left: 0
}

.member-list-wrapper .member-list li {
    margin-left: 2px
}

.member-name {
    font-size: 12px;
    display: block;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    text-align: center;
    width: 50px
}

.add-more-member {
    background: #e1e1e1;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px
}

.add-more-member:hover {
    background: #c2efe7;
    color: #fff
}

.topic-menu li {
    text-align: center;
    background: #fff;
    padding-bottom: 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    margin-top: 25px
}

.topic-menu li:hover {
    border-color: #5e5e5e
}

.topic-menu-tag {
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px rgba(117, 117, 117, .2);
    margin-top: -20px;
    margin-bottom: 10px;
    background: url(//static.nowcoder.com/images/img/icons/ico-test.png) no-repeat #fff
}

.topic-tag-test {
    background-position: center -36px
}

.topic-menu li:hover .topic-tag-test {
    background-position: center 15px
}

.topic-tag-date {
    background-position: center -158px
}

.topic-menu li:hover .topic-tag-date {
    background-position: center -98px
}

.topic-tag-schedule {
    background-position: center -269px
}

.topic-menu li:hover .topic-tag-schedule {
    background-position: center -212px
}

.topic-tag-plan {
    background-position: center -397px
}

.topic-menu li:hover .topic-tag-plan {
    background-position: center -328px
}

.topic-menu-tit {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px
}

.topic-menu-info {
    font-size: 12px;
    color: #8c8c8c
}

.item-inline {
    text-align: center;
    padding: 40px 0
}

.item-inline li {
    display: inline-block;
    vertical-align: middle;
    background: #f8f8f8;
    width: 218px;
    margin-top: 0
}

.item-inline li:hover {
    border-color: #00bd9b
}

.item-inline li + li {
    margin-left: 10px
}

.side-recommend-mod li {
    position: relative;
    margin-bottom: 20px
}

.side-recommend-mod li:last-child {
    margin-bottom: 0
}

.side-recommend-mod li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

.side-recommend-mod li .btn, .side-recommend-mod li .link-green {
    position: absolute;
    right: 0;
    top: 8px;
    font-size: 14px
}

.side-recommend-mod li .link-green {
    top: 12px
}

.side-recommend-head {
    display: inline-block;
    vertical-align: middle;
    background: #eee;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: 1px solid #ededed;
    margin-right: 10px;
    border-radius: 50px;
    position: relative
}

.side-recommend-head img {
    width: 100%;
    display: block
}

.side-recommend-info {
    display: inline-block;
    vertical-align: middle
}

.side-recommend-name {
    margin-bottom: 5px
}

.side-recommend-name a {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 11em
}

.side-recommend-name a:hover {
    color: #25bb9b
}

.side-recommend-detail {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 160px
}

.txtarea-foot {
    margin-top: 20px
}

.warning-tips {
    padding: 5px 10px;
    color: #d41f1f;
    background: #ffe7e7
}

.warning-tips i {
    margin-right: 5px
}

.my-note, .your-note {
    position: absolute;
    right: -5px;
    top: -5px;
    background: url(//static.nowcoder.com/images/img/icons/icon-note.png) no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px
}

.your-note {
    background-position: -11px 0
}

.has-notes {
    position: relative;
    border-bottom: 1px solid #00bc9b
}

.note-tip-main {
    font-size: 14px;
    max-width: 230px;
    text-align: left
}

.note-tip-hd {
    margin-bottom: 5px
}

.note-tip-hd .toicon-nc-book3-change {
    float: right;
    margin: 0
}

.note-tip-hd .toicon-nc-book3-change span {
    vertical-align: middle;
    margin-right: 4px
}

.note-author-icon-nc-book3 {
    float: left;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%
}

.note-author-icon-nc-book3 img {
    width: 100%
}

.note-author-name {
    margin-top: 4px;
    display: block;
    max-width: 8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 35px
}

.note-tip-bd {
    margin-bottom: 10px
}

.note-tip-author {
    float: left
}

.note-tip-ft a {
    margin-right: 10px
}

.discuss-tags {
    margin-bottom: 15px
}

.discuss-tags .tags-box {
    margin-left: 40px
}

.discuss-label {
    float: left;
    margin-top: 3px
}

.btn-b-publish {
    padding: 7px 0;
    margin-top: -6px !important;
    float: right
}

.discuss-main {
    font-size: 14px
}

.discuss-detail {
    margin-top: 5px
}

.answer-detail .answer-name {
    white-space: nowrap;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    vertical-align: middle
}

.answer-detail p {
    margin-bottom: 5px
}

.discuss-topic-head {
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
    padding: 20px
}

.discuss-topic-main {
    padding: 30px
}

.discuss-topic-des {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px
}

.post-topic-legend {
    text-align: right
}

.post-topic-legend a {
    margin-left: 10px;
    color: #25bb9b;
    font-size: 12px
}

.post-topic-legend a:hover {
    color: #25bb9b
}

.discuss-title {
    background: url(//static.nowcoder.com/images/img/icons/ico-discuss.png) no-repeat;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding-left: 30px;
    margin-bottom: 20px
}

.discuss-title > a, .discuss-title > span {
    vertical-align: text-bottom
}

.discussion-feed .feed-tip a {
    padding: 0
}

.post-topic-main {
    padding: 20px;
    font-size: 14px
}

.post-topic-des {
    margin-bottom: 20px;
    line-height: 1.8
}

.post-menu {
    clear: both;
    overflow: hidden;
    padding: 20px;
    border-top: 1px dashed #d4d4d4
}

.post-menu .next-subject-title, .post-menu .pre-subject-title {
    color: #999
}

.post-menu a:hover .next-subject-title, .post-menu a:hover .pre-subject-title {
    color: #25bb9b
}

.post-detail .post-name {
    color: #999;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 10px;
    max-width: 13em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.post-legend {
    text-align: right
}

.post-time {
    color: #999;
    font-size: 12px;
    float: left
}

.post-legend a {
    font-size: 14px;
    color: #25bb9b;
    float: right;
    margin-left: 25px
}

.post-floor {
    padding: 1px 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    background: #dcdadc;
    float: right
}

.post-ad-tag {
    border: 1px solid #eaeaea;
    display: inline-block;
    padding: 2px 8px;
    color: #888;
    font-size: 14px;
    margin-right: 2px;
    background: #fff;
    margin-bottom: 5px;
    line-height: 16px;
    border-radius: 3px;
    position: relative;
    float: right
}

.post-ad-tag:hover {
    cursor: pointer
}

.feed-legend {
    float: right;
    color: #999
}

.feed-legend-pipe {
    padding: 0 5px
}

.files-download {
    background: #e8edf2;
    border: 2px solid #dce4ec;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    padding: 0 10px
}

.files-download dt {
    background: url(//static.nowcoder.com/images/img/icons/ico-down.png) 10px center no-repeat;
    padding: 15px 10px 15px 40px
}

.files-download dd {
    border-top: 1px solid #fff;
    padding: 15px 5px
}

.files-size {
    color: #aaa;
    margin-right: 10px
}

.subject-floder {
    display: inline-block;
    width: 28px;
    height: 24px;
    margin-top: -3px;
    margin-right: 5px;
    vertical-align: middle;
    background: url(//static.nowcoder.com/images/img/subject-floder.png)
}

#jsTopTitle.control-group {
    width: 650px;
    margin-left: 10px
}

#jsTopTitle.error .txt-error-tip {
    position: absolute;
    bottom: -18px;
    left: 0
}

#jsTopTitle.control-group > .input-icon {
    right: 3px;
    left: auto
}

.next-subject span, .pre-subject span {
    float: left
}

.next-subject-title, .pre-subject-title {
    float: left;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-berak: auto;
    word-wrap: normal;
    margin-left: 10px
}

.next-subject-title {
    text-align: right;
    margin: 0 10px 0 0
}

.discuss-topic-answers .answer-content {
    float: none;
    width: auto
}

.discuss-topic-answers input.reply-input, .discuss-topic-answers textarea.reply-input {
    width: 536px
}

.topic-selected-box {
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
    background: #f9f9f9
}

.discuss-publish .topic-selected-box {
    border: none;
    background: #fff
}

.error-tip {
    background: #fff1ed;
    padding: 5px 10px;
    color: #ff5000;
    float: left
}

.topic-answer {
    font-size: 14px
}

.btn-group-xs .dropdown-toggle.btn {
    font-size: 14px;
    min-width: 80px
}

.topic-answer .btn-group-xs {
    display: inline-block;
    vertical-align: top
}

.topic-answer .error-tip {
    display: inline-block;
    vertical-align: top;
    float: none
}

#jsTopTitle.control-group {
    width: 650px;
    margin-left: 10px
}

#jsTopTitle.error .txt-error-tip {
    position: absolute;
    bottom: -18px;
    left: 0
}

#jsTopTitle.control-group > .input-icon {
    right: 3px;
    left: auto
}

input.discuss-topic-title {
    width: 642px !important
}

.btn-modify-cancel {
    margin-right: 10px
}

.club-brief-box {
    margin-bottom: 20px
}

.club-page .hot-discuss {
    margin-bottom: 0
}

.club-page .topic-list {
    margin: 0 -15px -10px -6px
}

.club-page .topic-list li {
    margin: 0 5px 10px 0;
    border: none;
    height: auto
}

.club-brief {
    width: 217px;
    float: left;
    margin-right: 70px
}

.club-brief-btn .btn {
    padding: 7px 0;
    border-radius: 5px
}

.club-brief-btn .btn + .btn {
    margin-left: 5px
}

.club-brief-img {
    display: block;
    font-size: 0;
    margin-bottom: 10px
}

.club-detail {
    float: left;
    width: 230px
}

.club-detail li {
    margin-bottom: 13px
}

.item-scores {
    display: inline-block;
    width: 24px;
    text-align: right;
    font-size: 14px;
    height: 20px;
    vertical-align: middle
}

.club-page .discuss-detail {
    margin-top: 5px
}

.club-page .difficulty {
    width: 100%;
    margin: 0
}

.club-detail-tips {
    font-size: 14px;
    color: #8f8f8f;
    margin-bottom: 3px
}

.club-detail-tips .link-green {
    margin-left: 25px
}

.club-detail .club-detail-box {
    margin: 5px 0
}

.club-detail-info .difficulty {
    float: left;
    font-size: 14px;
    width: auto;
    margin-bottom: 10px
}

.club-detail-info .item-label {
    width: auto;
    line-height: 24px
}

.club-detail-memu {
    float: right
}

.club-detail-memu a {
    font-size: 14px;
    line-height: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle
}

.club-item-label {
    line-height: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    color: #a9a9a9;
    margin-left: 15px;
    font-size: 12px
}

.club-modify {
    line-height: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px
}

.club-detail-txt {
    font-size: 14px;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left
}

.open .club-occupation {
    height: auto
}

.open .show-all-words {
    display: none
}

.club-page .hide-all-words {
    float: right
}

.club-page .hide-all-words {
    display: none
}

.open .hide-all-words {
    display: block
}

.club-occupation {
    font-size: 14px;
    height: 22px;
    overflow: hidden
}

.sm-star .item-label {
    font-size: 12px;
    float: none;
    display: inline-block;
    height: auto;
    line-height: normal;
    width: auto;
    text-align: left
}

.sm-star li {
    margin-bottom: 3px
}

.brief-comment {
    font-size: 14px
}

.brief-comment li + li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5
}

.brief-comment .difficulty {
    margin-bottom: 10px
}

.brief-name {
    margin-right: 15px
}

.brief-comment .club-detail-txt {
    width: auto;
    white-space: normal;
    float: none
}

.club-page .nk-content .list-title {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    float: left;
    margin: 0 20px 0 0
}

.club-page .list-legend {
    float: right;
    margin-top: 3px
}

.club-page .list-legend a {
    padding: 0
}

.skill-train-list li {
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px
}

.skill-train-list .data-progress-bg, .skill-train-list .data-progress-name, .skill-train-list .data-progress-txt {
    float: left;
    margin-right: 10px;
    white-space: nowrap
}

.skill-train-list .data-progress-name {
    width: 100%;
    font-size: 14px;
    text-align: left
}

.data-progress-txt {
    font-size: 12px
}

.skill-train-list .data-progress-bg {
    width: 60%;
    margin-top: 7px;
    height: 6px
}

.skill-train-list .data-progress-bar {
    height: 6px
}

.club-reviews .difficulty {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: auto
}

.club-reviews .discuss-content, .club-reviews .feed-foot {
    padding-top: 0
}

.club-reviews .menu-box {
    margin: 0 -20px 20px
}

.club-reviews .club-detail-box li {
    float: left;
    margin: 0 20px 10px 0
}

.club-reviews .link-green {
    margin: 0
}

.tag-mod {
    background: #f5f5f5;
    padding: 15px 10px 10px;
    margin: 10px 0 0
}

.total-scores-wrap {
    float: left;
    position: relative;
    margin-right: 30px;
    padding-right: 30px
}

.total-scores-wrap:after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 1px;
    height: 100%;
    background: #999
}

.total-scores-wrap .difficulty {
    margin: 0 0 10px
}

.club-reviews .club-detail-box {
    float: left;
    width: 380px
}

.scores-wrap {
    margin-bottom: 15px
}

.club-score-time {
    float: right;
    color: #999;
    margin-top: 2px
}

.club-page .discuss-name {
    max-width: 5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    vertical-align: middle;
    margin-right: 15px
}

.member-list-wrapper {
    height: 342px;
    overflow: hidden;
    margin: 0 -10px
}

.show-more-item {
    padding: 10px 20px;
    font-size: 14px;
    background: #f9f9f9;
    border-top: 1px solid #eee
}

.club-page .btn-group-xs .dropdown-toggle.btn {
    padding: 6px
}

.tag-img {
    margin-left: 5px;
    vertical-align: middle
}

.oprt-tool li {
    margin-bottom: 10px
}

.discuss-tool-bar {
    float: right
}

.discuss-tool-bar i {
    font-size: 16px;
    margin-right: 5px
}

.discuss-tool-bar .icon-nc-share3 {
    font-size: 14px
}

.discuss-tool-bar a {
    margin-left: 10px;
    font-size: 14px
}

.discuss-title.fixed-title {
    background-color: #fff;
    width: 925px;
    padding: 15px 20px 15px 55px;
    position: fixed;
    top: 54px;
    z-index: 20;
    margin: 0 -20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    background-position: 20px 16px
}

.discuss-title .app-item {
    border-right: 1px solid #ddd;
    padding-right: 10px
}

.discuss-title .app-item i {
    font-size: 20px;
    vertical-align: -2px
}

.fixed-sidebar {
    position: fixed;
    width: 300px;
    top: 54px;
    z-index: 10
}

.nk-bar .topic-menu {
    margin-top: -10px
}

.nk-bar .topic-menu li {
    border: none;
    text-align: left;
    margin: 0 -20px;
    overflow: hidden;
    padding: 10px
}

.nk-bar .topic-menu li:hover {
    background: #f4f4f4
}

.nk-bar .topic-menu-tag {
    float: left;
    margin: 0 6px 0 0
}

.topic-menu-tit {
    padding-top: 5px;
    font-weight: 700
}

.discuss-menu-box {
    margin-top: 10px
}

.dropdown-menu .suggest-user .list-name {
    width: 150px
}

.letter-content .dropdown-menu li {
    font-size: 0
}

.accept-review-mod, .wonderful-review-mod {
    background: #edfaf8;
    padding: 15px
}

.accept-tag, .wonderful-tag {
    position: absolute;
    top: 0;
    right: 10px;
    background: #00bc9b;
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 50px;
    padding: 5px 0 0
}

.accept-tag:after, .wonderful-tag:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    border-style: solid;
    border-width: 5px 25px;
    border-color: #00bc9b #00bc9b transparent #00bc9b
}

.accept-tag .icon-star, .wonderful-tag .icon-thumbs-up {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    -webkit-font-smoothing: antialiased
}

.accept-review-mod {
    background: #fff1e6
}

.accept-tag {
    background: #f59850
}

.accept-tag:after {
    border-color: #f59850 #f59850 transparent #f59850
}

.accept-mini-tag {
    background: #f19756
}

.answer-detail .accept-mini-tag, .answer-detail .disTop {
    margin-right: 5px
}

.note-tag {
    border-color: #1abc9c;
    color: #1abc9c
}

.note-tag:hover {
    background: #1abc9c;
    color: #fff
}

.feed-origin .feed-tip > a {
    white-space: nowrap;
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom
}

.discuss-tab-wrap {
    background: #f5f5f5;
    padding: 15px 15px 10px;
    margin: 10px 0 0
}

.discuss-tab {
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    margin-right: 10px;
    margin: 0 10px 5px 0
}

.discuss-tab.selected {
    background: #25bb9b;
    color: #fff;
    text-align: center
}

.identity-banner img {
    display: block;
    width: 100%
}

.module-head .btn-group {
    position: relative;
    z-index: 2;
    left: 20px;
    top: -8px
}

.reply-rank-oprt .dropdown-toggle {
    background: 0 0;
    min-width: auto;
    border: none;
    color: #777
}

.reply-rank-oprt .caret {
    color: #777
}

.reply-rank-oprt .dropdown-menu li.active > a, .reply-rank-oprt .dropdown-menu li.selected > a, .reply-rank-oprt .dropdown-menu li > a:hover {
    background: #eee;
    color: #00bc9b
}

.reply-rank-oprt .dropdown-menu {
    border-color: #e1e1e1
}

.ico-discuss-reply {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    background: url(//static.nowcoder.com/images/img/icons/icon-reply-rank.png) no-repeat
}

.reply-rank-oprt .dropdown-toggle:hover {
    color: #00bc9b
}

.ico-default {
    background-position: -25px 0
}

.reply-rank-oprt .dropdown-toggle:hover .ico-default {
    background-position: -25px -22px
}

.reply-rank-oprt .ico-nearly {
    background-position: 0 0
}

a:hover .ico-nearly {
    background-position: 0 -22px
}

.reply-rank-oprt .ico-liked {
    background-position: -81px 0
}

a:hover .ico-liked {
    background-position: -81px -22px
}

.reply-rank-oprt .ico-earlier {
    background-position: -53px 0
}

a:hover .ico-earlier {
    background-position: -53px -22px
}

.crumbs-end {
    max-width: 24em
}

.txtarea-foot .warning-tips {
    font-size: 14px;
    display: inline-block
}

.publish-type .control-label {
    line-height: 28px;
    height: 28px
}

.publish-type .btn-group .dropdown-toggle {
    min-width: auto;
    padding: 5px 25px 5px 10px
}

.publish-type .dropdown-toggle .caret {
    top: 4px;
    right: 8px
}

.publish-pay {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    font-size: 14px
}

.publish-pay a {
    margin-left: 20px
}

.publish-pay input {
    width: 60px;
    line-height: 24px;
    height: 24px;
    padding: 0 5px
}

.niubi-tip {
    color: #888;
    margin-left: 30px
}

.topic-answer-mod {
    background: #f8f8f8;
    padding: 10px 20px;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative
}

.topic-answer-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    background: url(//static.nowcoder.com/images/img/badge/ico-close.png) no-repeat
}

.topic-answer-mod h2 {
    font-size: 14px;
    margin-bottom: 10px
}

.topic-answer-item {
    display: inline-block;
    vertical-align: top
}

.topic-answer-item + .topic-answer-item {
    border-left: 1px solid #eee;
    margin-left: 15px;
    padding-left: 15px
}

.topic-answer-detail {
    margin-bottom: 10px
}

.topic-answer-cont {
    vertical-align: top;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 260px
}

.topic-answer-num {
    color: #888;
    display: inline-block;
    vertical-align: top
}

.topic-answer-num > span {
    margin-left: 15px
}

.tags-module .tag-label {
    margin: 0 5px 10px 0
}

.match-tag-list {
    position: relative;
    font-size: 14px
}

.match-tag-list li {
    border-bottom: 1px dashed #eee;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.match-tag-list li:last-child {
    border-bottom: none;
    margin-bottom: 0
}

.match-tag-list .ico-entry-match {
    float: left
}

.match-tag-list .icon-tag {
    display: block;
    float: left;
    color: #00bc9b;
    font-size: 16px;
    margin-top: 3px
}

.match-tag-cont {
    margin-left: 20px;
    padding-right: 60px;
    display: block;
    position: relative
}

.match-tag-entry {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff
}

.module-box .btn-plain {
    border: none
}

.ico-entry-match, .ico-show-subject {
    display: inline-block;
    width: 20px;
    height: 22px;
    vertical-align: middle;
    background: url(//static.nowcoder.com/images/img/match/match-entry.png) no-repeat
}

.ico-entry-match {
    background-position: 0 -43px
}

.btn-plain:hover .ico-entry-match {
    background-position: -33px -43px
}

.btn-plain:hover .ico-show-subject {
    background-position: -33px 0
}

.btn-plain .icon-nc-msg {
    font-size: 22px;
    vertical-align: middle
}

.search-page {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    width: 688px;
    background: #fff
}

.search-page .module-box {
    border: none;
    margin-bottom: 0
}

.search-page .module-head {
    padding: 10px;
    background: #f6f6f6
}

.search-page .discuss-detail {
    width: 605px
}

.search-page .topic-list li {
    margin: 0 6px 25px 0
}

.search-page .module-body {
    padding: 20px 10px
}

.search-page .content-item-box {
    margin-left: 0
}

.search-page .content-item-box li {
    width: 210px
}

.search-page .menu a {
    font-size: 14px;
    height: 36px;
    line-height: 36px
}

.search-page .show-more {
    font-size: 14px;
    padding: 0 10px
}

.module-topic-more {
    margin-bottom: 10px
}

.module-topic-more img {
    width: 100%
}

.all-activity-list {
    background: #d0d0d0;
    color: #fff;
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center
}

.search-wrapper {
    background: #f5f5f5;
    padding: 20px 40px;
    position: relative;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    white-space: nowrap
}

.search-wrapper .input-group-btn {
    position: absolute;
    right: 0;
    top: 0
}

.search-wrapper .search-input-wrap {
    width: 100%;
    line-height: 30px;
    height: 30px;
    font-size: 0
}

.search-wrapper .search-input-wrap input {
    width: 500px;
    padding: 4px;
    vertical-align: top;
    margin-left: 30px
}

.search-wrapper .search-input-wrap .icon-search {
    width: 30px;
    height: 30px;
    line-height: 30px
}

.search-wrapper .input-group-btn > .btn {
    height: 30px;
    line-height: 30px;
    width: 70px;
    font-size: 14px;
    margin-left: 0
}

.menu-box-outer {
    padding: 0
}

.search-result-head {
    background: #f5f5f5;
    padding: 10px 20px;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    font-weight: 700
}

.vote-mod {
    width: 100%;
    min-width: 500px;
    overflow: hidden;
    border: 1px solid #eee;
    margin: 10px 0
}

.vote-mod-hd {
    padding: 10px 20px;
    background: #f4f4f4;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    display: block
}

.vote-mod-bd {
    padding: 30px 20px 20px
}

.vote-mod-bd .radio {
    display: block;
    margin-bottom: 10px
}

.vote-mod-bd .radio + .radio {
    margin-left: 0
}

.vote-mod-bd .progress-bar-wrapper {
    margin-bottom: 10px
}

.vote-mod-bd .progress-bar-box {
    width: 100%;
    margin-right: 0
}

.vote-mod-bd .progress-bar-label {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 30em
}

.vote-mod-bd .progress-bar-text {
    float: right
}

.vote-mod-ft .btn {
    border-radius: 0;
    color: #fff
}

.vote-mod-ft .btn.btn-default {
    cursor: not-allowed
}

.vote-mod-ft .btn:hover {
    color: #fff
}

img[data-vote-id] {
    display: block;
    margin: 10px auto
}

.lz-reply {
    float: right;
    background: url(//static.nowcoder.com/images-nk/img/tag/reply.png) no-repeat;
    height: 20px;
    padding-left: 30px;
    margin: 0 5px
}

.lz-reply-txt {
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background: #a1cc42;
    display: inline-block;
    padding-right: 10px;
    border-radius: 0 3px 3px 0
}

.fold-search-box {
    margin-top: -10px;
    margin-left: 10px
}

.tags-wrapper {
    margin-bottom: 20px
}

.tags-wrapper h2 {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px
}

.tags-wrapper h2 i {
    margin-right: 10px
}

.feelings-num {
    margin-left: 10px;
    font-size: 16px
}

.difficulty-list {
    margin-right: -30px
}

.difficulty-list li {
    width: 29%;
    font-size: 14px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 1%;
    margin-bottom: 20px;
    margin-right: 20px
}

.difficulty-list .stars-all {
    vertical-align: top
}

.tag-discount {
    margin-left: 10px;
    background: #ffbc5c;
    border-radius: 3px;
    color: #fff;
    padding: 1px 3px
}

.menu-oprtbar input {
    width: 100px;
    padding: 2px 5px;
    margin: 8px 10px 0 5px
}

.menu-oprtbar .btn-group-xs .dropdown-toggle.btn {
    min-width: auto;
    padding-right: 15px;
    font-size: 12px;
    color: #888
}

.job-choose-mod {
    font-size: 12px;
    line-height: 24px
}

.job-choose-mod > a, .job-choose-mod > span {
    display: inline-block;
    vertical-align: middle
}

.job-choose-mod > a {
    margin-left: 5px
}

.feelings-num {
    margin-left: 10px;
    font-size: 16px
}

.return-home {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #777
}

.return-home:hover {
    color: #25bb9b
}

.return-home i {
    margin-right: 10px
}

.feelings-hd {
    border-top: 1px solid #ddd;
    padding: 20px 0
}

.feelings-hd .checkbox {
    float: right;
    margin-top: 6px
}

.feelings-hd .feeling-filter {
    padding: 5px;
    margin-left: 5px;
    width: 120px
}

.feelings-hd .btn-group .dropdown-toggle {
    min-width: auto
}

.subject-analysis-list {
    margin-top: 20px
}

.subject-analysis-list li {
    font-size: 14px
}

.analysis-head {
    margin-bottom: 10px
}

.analysis-head .name {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 10em;
    margin-top: 18px
}

.analysis-head .origin {
    margin-top: 18px
}

.analysis-main .more-unfold {
    margin-left: 20px
}

.analysis-ft {
    font-size: 12px;
    padding: 20px 0
}

.analysis-ft a {
    display: inline-block;
    color: #666
}

.analysis-ft a.selected, .analysis-ft a:hover {
    color: #25bb9b
}

.analysis-ft a + a {
    margin-left: 20px
}

.analysis-ft .more-fold {
    float: right
}

.analysis-ft.fixed {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    position: fixed;
    bottom: 0;
    margin: 0 -20px;
    width: 648px;
    padding: 20px;
    background: #fff;
    z-index: 20
}

.app-layer-tip.tooltip-inner {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2)
}

.app-layer-tip .app-layer-qrcode {
    width: 75px;
    height: 75px;
    background: #dfdfdf
}

.app-layer-tip .app-layer-qrcode img {
    width: 100%
}

.app-item-tag {
    margin-bottom: 0;
    margin-top: -3px;
    margin-right: 10px;
    cursor: pointer;
    color: #999
}

.app-item-tag:hover {
    color: #25bb9b
}

.module-head-oprt {
    font-size: 14px
}

.module-head-oprt .icon-refresh {
    margin-right: 4px
}

.module-head-oprt .checkbox {
    margin-right: 20px
}

.side-recommend-mod {
    margin: 0 -5px
}

.side-recommend-mod .btn-decorate {
    border-radius: 16px;
    padding: 3px 0
}

.group-discuss-list {
    font-size: 0;
    margin-right: -20px
}

.group-discuss-list dt {
    font-size: 14px;
    margin-bottom: 15px
}

.group-discuss-list dd {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: #f1f1f1;
    margin-right: 25px
}

.group-discuss-list dd a {
    display: block
}

.group-discuss-list dd.more {
    margin-right: 0;
    text-align: center
}

.group-discuss-list dd.more a {
    padding: 6px;
    color: #aaa
}

.group-discuss-list dd.more p:first-child {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 3px;
    margin-bottom: 2px
}

.group-discuss-list dd:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .15)
}

.group-discuss-list dd img {
    width: 100%
}

.group-discuss-info {
    margin-bottom: 10px
}

.group-discuss-info .group-discuss-oprt {
    float: right;
    text-align: center
}

.group-discuss-info .group-discuss-oprt p {
    margin-top: 10px
}

.group-discuss-cont {
    display: inline-block;
    font-size: 14px
}

.group-discuss-cont .group-pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background: #f1f1f1
}

.group-discuss-cont .group-pic img {
    width: 100%
}

.group-discuss-cont .group-name {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 10em
}

.group-discuss-cont .company-page {
    margin-left: 30px
}

.group-discuss-cont .company-page i {
    font-size: 18px;
    margin-right: 5px
}

.company-jobs-type li {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.company-jobs-type li p {
    font-size: 14px;
    margin-top: 10px
}

.company-jobs-type li .pic {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    background: #e5c7f4;
    border-radius: 50%;
    font-size: 26px;
    color: #fff
}

.company-jobs-type li .pic2 {
    background: #c2d9f4
}

.company-jobs-type li .pic3 {
    background: #f4d79b
}

.group-discuss-entry {
    height: 61px;
    width: 638px;
    padding: 30px 25px 0;
    background: url(//static.nowcoder.com/images-nk/res/discuss/index-bg.jpg) no-repeat;
    background-size: cover;
    color: #fff
}

.group-discuss-entry h2 {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px 0 20px
}

.group-discuss-entry .btn {
    margin-right: 10px
}

.group-discuss-entry .company-page {
    padding-top: 6px;
    float: right;
    font-size: 14px
}

.group-discuss-entry .company-page .icon-home {
    margin-right: 5px;
    font-size: 18px
}

.group-entry-wrapper.no-border .group-discuss-entry {
    width: 640px
}

.group-entry-wrapper .group-discuss-list {
    padding: 15px 18px
}